<ion-header>
  <ion-navbar color="secondary">
    <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
          <ion-icon name="settings"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content >
  <ion-list>
    <ion-item text-wrap>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam eius magni et repudiandae optio aliquid tempore repellendus veniam unde, aperiam consequatur, illum eum quaerat ut sint incidunt voluptas molestias. Libero.</ion-item>
  </ion-list>
</ion-content>
