ion-content {
    --padding-start: 1rem;
    --padding-end: 1rem;
    --padding-bottom: 1rem;
}

ion-title {
    color: var(--ion-color-title);
}

ion-item,
ion-text {
    h5 {
        font-weight: 700;
        font-size: 12pt;
        color: var(--ion-color-title);
    }
}

ion-range {
    width: 100%;
    --bar-height: .2rem;

    ion-label {
        font-size: 11pt;
        font-weight: 700;
    }

    .range-pin {
        color: #ffffff !important;
        font-weight: 700;
    }
}

.days-button {
    width: 2.5rem;
    height: 2.5rem;
    font-weight: 700;
    border-radius: 50%;
    margin-right: 0.5rem;
    --background: var(--ion-color-light);
}


.loc-button {
    font-weight: 700;
    margin-right: .5rem;
}

.apply-button span {
    color: #fff !important;
}

ion-toolbar .apply-button {
    margin:  0 1rem !important;
}

.clicked {
    --background: var(--ion-color-primary);
    --color: #ffffff;
}