<ion-content>
	<div class="flex flex-column main-container">
    <div class="welcome">
		<img class="icon" src="assets/icon/first-aid-kit-color.svg" />
		<h5>Welcome back,</h5>
		<p>login to your account</p>
	</div>

		<div class="ion-text-center">
			<ion-item class="ion-no-padding" lines="none">
				<ion-label position="stacked">Email address</ion-label>
				<ion-input [(ngModel)]="email"></ion-input>
			</ion-item>
			<ion-item class="ion-no-padding" lines="none">
				<ion-label position="stacked">Password</ion-label>
				<ion-input type="password" [(ngModel)]="password"></ion-input>
			</ion-item>
			<p class="input-help">Forgot password?</p>

			<ion-button class="apply-button" expand="block" (click)="login()">
				Sign In
			</ion-button>
			
		</div>
		<div class="text ion-text-center">
			<span
				>Don't have an account?
				<a [routerLink]="['/register']">Sign up</a></span
			>
		</div>
	</div>
</ion-content>
<!-- 
<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<div [formGroup]='signinForm'>
  <h2> Sign in to your account</h2>
  <ion-label>Email</ion-label>
    <ion-input type="email" formControlName="email" required></ion-input>
  <ion-label>Password</ion-label>
    <ion-input type="password" formControlName="password" required></ion-input>
  <ion-label *ngIf="!passwordInput.valid"> {{getPasswordInputError()}}</ion-label>

</div>

<ion-button (click)="signIn()">Sign In</ion-button>
</ion-content> -->