<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<div [formGroup]='signinForm'>
  <h2> Sign in to your account</h2>
  <ion-label>Email</ion-label>
    <ion-input type="email" formControlName="email" required></ion-input>
  <ion-label>Password</ion-label>
    <ion-input type="password" formControlName="password" required></ion-input>
  <ion-label *ngIf="!passwordInput.valid"> {{getPasswordInputError()}}</ion-label>

</div>

<ion-button (click)="signIn()">Sign In</ion-button>
</ion-content>

