<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

<div [formGroup]='signupForm'>
  <ion-label>First Name:</ion-label>
    <ion-input type="text" formControlName="name"></ion-input>
  <ion-label>Last Name</ion-label>
    <ion-input type="text" formControlName="lastname"></ion-input>
  <ion-label>Email</ion-label>
    <ion-input type="text" formControlName="email"></ion-input>
  <ion-label>Password</ion-label>
    <ion-input type="text" formControlName="password"></ion-input>


</div>

<ion-button (click)="signUp()" [disabled]="shouldEnableSubmit()">Sign Up</ion-button>
</ion-content>

