h5 {
  font-weight: 700;
  padding-bottom: .5rem;
  color: var(--ion-color-title);
}

ion-toolbar {
  --background: var(--ion-color-primary);
  --color: #fff;
  --padding-top: 1rem;
  --padding-bottom: 1rem;
  --border-style: none !important;
  --border-color: none !important;
}

ion-content {
  --background: var(--ion-color-primary);
}

.content {
  border-radius: 14pt 14pt 0 0;
  background: #ffffff;
  padding: 1rem;
  min-height: 100%;
}


ion-title {
  p {
    margin: 0 !important;
  }

  span {
    font-weight: 400 !important;
    font-size: 10pt;
  }
}

.circle-button i {
  color: #fff;
}


img {
  fill: white;
}

@media (max-device-height: 568px), handheld and (orientation: portrait) {
  
  h5 {
    font-size: 11pt;
    margin: 0;
  }
}

@media (max-device-height: 640px), handheld and (orientation: portrait) {
  
  h5 {
    font-size: 12pt;
    margin: .5rem;
  }
}

