ion-text {
	h5 {
		font-weight: 700;
		font-size: 12pt;
	}
}

ion-toolbar {
	--background: var(--ion-color-primary);
	color: #fff;
}

ion-content {
	--background: var(--ion-color-primary);
}

.content {
	border-radius: 14pt 14pt 0 0;
	background: #ffffff;
	padding: 1rem;
	min-height: 100%;
}

ion-toolbar i {
	color: #fff;
}

.center {
  margin: 5rem auto;
}
