ion-item {
	--padding-start: 0;
	--padding-end: 0;
	--inner-padding-end: 0;
	margin: 0.5rem 0;
	--border-radius: 8pt;
	--border-color: #fff;

	ion-avatar {
		--border-radius: 6pt;
		margin: 0 1rem 0;
		width: 42pt;
		height: 42pt;
	}

	h2 {
		font-weight: 700;
		color: var(--ion-color-title);
	}

	p {
		font-size: 8pt;
		text-transform: uppercase;
		color: var(--ion-color-text);
	}

	ion-label{
		margin: 0;
	
	}
}

@media (max-device-height: 568px), handheld and (orientation: portrait) {
	ion-item {
		--padding-start: 0;
		--padding-end: 0;
		--inner-padding-end: 0;
		margin-bottom: 0;
	}
	ion-avatar {
		margin: 0 0.5rem 0;
		width: 36pt;
		height: 36pt;
	}
	h2 {
		font-size: 9pt;
	}
	p {
		font-size: 7.5pt;
	}
}

@media (max-device-height: 640px), handheld and (orientation: portrait) {
	ion-item {
		--padding-start: 0;
		--padding-end: 0;
		--inner-padding-end: 0;
		margin-bottom: 0;
	}
	ion-avatar {
		margin: 0 1rem 0;
		width: 38pt;
		height: 38pt;
	}
	h2 {
		font-size: 9.5pt;
	}
	p {
		font-size: 8pt;
	}
}

@media (max-device-height: 667px), handheld and (orientation: portrait) {
	ion-item {
		--padding-start: 0;
		--padding-end: 0;
		--inner-padding-end: 0;
		margin-bottom: 0;
	}
	ion-avatar {
		margin: 0 1rem 0;
		width: 40pt;
		height: 40pt;
	}
	h2 {
		font-size: 10pt;
	}
	p {
		font-size: 8.5pt;
	}
}
